{{ define "main" }}

<h3> {{ .Title }} </h3>
<div class="subheader">
    <p id="small">projects and internships i've done!</p>
</div>

<h4>2025</h4>
<span class="portfolio-list">
    <ul>
        <li><a href="https://github.com/echo4eva/pomodomo">pomodoro cli/tui tool</a></li>
    </ul>
<span>

<h4>2024</h4>
<span class="portfolio-list">
    <ul>
        <li><a href="https://loonaboycott.com">loona boycott webapp</a></li>
        <li><a href="https://colab.research.google.com/drive/19NE6rodq-Q5X7JjLBp10lsTplA5X4U9_?usp=sharing" target="_blank">league of legends pro match winner prediction model</a></li>
        <span id="small">ask me about it! iykyk lol</span>
    </ul>
<span>

<h4>2023</h4>
<span class="portfolio-list">
    <ul>
        <li><a href="https://juic3.vercel.app" target="_blank">windows 7 y2k interactive website</a></li>
        <li><span id="smol">[internship] </span><a href="https://github.com/echo4eva/zjp" target="_blank">project gutenberg api</a></li>
        <span id="smol"><a href="https://docs.google.com/presentation/d/1ixu9gwniqd5SCqLkZ6DLznSsu6Qjoun_gh1KG-HIchE/edit?usp=sharing" target="_blank">(slides)</a></span>
        <li><a href="jerichoimperial.vercel.app" target="_blank">old portfolio website</a></li>
    </ul>
<span>

<h4>2022</h4>
<span class="portfolio-list">
    <ul>
        <li><span id="smol">[internship] </span><a href="https://github.com/codeday-labs/wej-tech" target="_blank">prototyped-environmental-based full stack webapp</a></li>
        <span id="smol"><a href="https://www.youtube.com/watch?v=KdazKTVkll0" target="_blank">(video)</a> 
    </ul>
<span>

{{ end }}