{{ define "main" }}

<h3> {{ .Title }} </h3>
<div class="subheader">
    <p id="small">personal projects</p>
</div>

<h4>2025</h4>
<span class="portfolio-list">
    <ul>
        <li><a href="https://github.com/sauerbraten-chungus">sauerbraten chungus: a modern multiplayer backend for cube 2: sauerbraten (WIP)</a></li>
        <span id="smol">links to register and player online, soon!</span>
        <li><a href="https://github.com/echo4eva/necoconeco">necoconeco: a distributed file synchronization system for markdown files</a></li>
        <span id="smol"><a href="https://x.com/echo4eva/status/1937030751016677838" target="_blank">(twt thread/video)</a></span>
        <li><a href="https://github.com/echo4eva/deathbox">deathbox: a deadman's switch/monitoring service</a></li>
        <span id="smol"><a href="https://youtu.be/bqxi47tGdRE?si=HhWqsyJPk6ZqDgalo" target="_blank">(yt video)</a></span>
        <li><a href="https://github.com/echo4eva/pomodomo">pomodoro cli/tui tool</a></li>
    </ul>
<span>

<h4>2024</h4>
<span class="portfolio-list">
    <ul>
        <li><a href="https://github.com/echo4eva/loona-boycott">loona boycott webapp</a></li>
        <span id="smol">i took it down D:</span>
    </ul>
<span>

{{ end }}