{{ define "main" }}

<h3>hey!</h3>

<p>
    my name is jericho, i’m a programmer based in the bay
    area! i’m interested in all things ai/ml, 
    e-sports, gaming, kpop, and anime!
    <br></br>
    on this playground you’ll find blogs of what i learn, 
    what im up to, and long form “tweets.” you’ll also 
    stumble upon my portfolio.
    <br></br>
    go look! <span id="smol">(i love pink sorry)</span>
</p>

<h3>socials</h3>
<span id="small">twitter dms open!</span>
<span>
    <a href="https://www.linkedin.com/in/jerichoimperial/" target="_blank">linkedin</a> -
    <a href="https://twitter.com/echo4eva" target="_blank">twitter</a> - 
    <a href="https://github.com/echo4eva" target="_blank">github</a> -
    <a href="https://www.kaggle.com/echo4eva" target="_blank">kaggle</a> <span id="smol">(soon tm)</span> -
    <a href="https://myanimelist.net/profile/loonafan2001" target="_blank">mal</a>
</span>

{{ end }}